<div class='heading-section'>
    <h2>
    Quotes Search ( GoodReads)
    </h2>
    <%=link_to "Search Star Trek Dialogue instead", dialogues_path %>
</div>
<%=form_with url: quotes_path, :method => "get" do |form| %>
    <%=form.label :query, 'Search Quote Or Author'%>
    <%=form.text_field :query)%>
    <%=from.label :dictionary%>
    <%=form.submit "Search"%>
<% end %>

<div class="search-results">
<% @quotes.each do | quote|%>
    <div>
        <h3 class="quote">
           <%=quote.content%> 
        </h3>
        <div class='author'>
         - <%=quote.author%>
        </div>
    </li>
<% end %>

</div>
