<div class='heading-section'>
    <h2>
    Quotes Search ( GoodReads)
    </h2>
    <%=link_to "Search Star Trek Dialogue instead", dialogues_path %>
</div>
<%=form_with url: quotes_path, :method => "get" do %>
    <%=label_tag(:query, 'Search Quote Or Author')%>
    <%=text_field_tag('query', params[:query])%>
    <%=submit_tag("Search")%>
<% end %>

<div class='quotes-wrapper'>
<% @quotes.each do | quote|%>
    <div>
        <h3 class="quote">
           <%=quote.content%> 
        </h3>
        <div class='author'>
         - <%=quote.author%>
        </div>
    </li>
<% end %>

</div>
