<div id="<%= dom_id dialogue %>">
  <p>
    <strong>Line:</strong>
    <%= dialogue.line %>
  </p>

  <p>
    <strong>Episode:</strong>
    <%= dialogue.episode %>
  </p>

  <p>
    <strong>Series:</strong>
    <%= dialogue.series %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= dialogue.character %>
  </p>

</div>
