<%= form_with(model: dialogue) do |form| %>
  <% if dialogue.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dialogue.errors.count, "error") %> prohibited this dialogue from being saved:</h2>

      <ul>
        <% dialogue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :line, style: "display: block" %>
    <%= form.text_field :line %>
  </div>

  <div>
    <%= form.label :episode, style: "display: block" %>
    <%= form.text_field :episode %>
  </div>

  <div>
    <%= form.label :series, style: "display: block" %>
    <%= form.text_field :series %>
  </div>

  <div>
    <%= form.label :character, style: "display: block" %>
    <%= form.text_field :character %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
