<p style="color: green"><%= notice %></p>
<div class='heading-section'>
<h2>
   Star Trek Dialogue Search
</h2>
<%=link_to "search using ChatGTP embeddings (TNG only)", episode_texts_path %>
</div>
<%=form_with url: dialogues_path, :method => "get", html: {class: 'search-section'} do |form|%>
    <%=form.label :query, 'Search Dialogue or Character'%>
   <%=form.text_field :query%>
    <%=form.label :dictionary, "Use Dictionary"%>
    <%=form.check_box :dictionary %>

    <%=form.submit "Search"%>
<% end %>
<% if @dialogues.length == 300%>
    Over
<%end%>
<%= @dialogues.length%> Results


<div class='search-results'>
<% @dialogues.each do | dialogue|%>
    <div>
        <h3 class="quote">
           <%=link_to dialogue.line, "#{dialogue_url(dialogue.id)}\##{dialogue.id}"%>
        </h3>
        <div class='author'>
         - <%=dialogue.character%>, <%=dialogue.series%> <%=dialogue.episode%>
        </div>
    </li>
<% end %>
</div>